* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Regular.ttf);
}
#switch-to-light {
  display: none;
  background-color: #d2b6ff;
  color: #000;
}

.dark-bg {
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: 0 0 0 #fff !important;
}
.dark-bg .draw-image img {
  z-index: 5;
}
.dark-bg .skills-section::after {
  background-color: #000 !important;
}

.head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  list-style: none;
  padding: 15px 20px;
}

.head-section img {
  width: 120px;
}

.main-div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 140px;
  list-style: none;
  width: 90%;
  padding-top: 50px;
  margin: auto;
}

.arrow-btns {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.arrow-btns button {
  background-color: #11A77D;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-btns .lefti {
  margin-left: -20px;
}

.main-txts {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 20px;
  list-style: none;
  flex-direction: column;
}
.main-txts h1 {
  font-size: 45px;
}
.main-txts p {
  width: 200px;
}
.main-txts button {
  background-color: #F31303;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.main-images img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
  transform: rotate(135deg);
}

.main-boxes .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.main-boxes .box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.main-boxes .box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.main-boxes .box1 {
  width: 150px;
  height: 150px;
  background-color: #0878A0;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -100px;
}
.main-boxes .box1 div {
  transform: rotate(-45deg);
}
.main-boxes .box2 {
  width: 150px;
  height: 150px;
  background-color: #11A77D;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -10px;
}
.main-boxes .box2 div {
  transform: rotate(-45deg);
}
.main-boxes .box3 {
  width: 150px;
  height: 150px;
  background-color: #F31303;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -100px;
}
.main-boxes .box3 div {
  transform: rotate(-45deg);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
  width: 100%;
  height: 60px;
  color: #fff;
  margin: auto;
  background-color: #11A77D;
  margin-top: 90px;
}
header .header {
  width: 80%;
  height: 50px;
  color: #fff;
  margin: auto;
  background-color: #11A77D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  list-style: none;
}
header .header .header-nav ul {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  list-style: none;
}
header .header .header-nav ul a {
  color: #fff;
  text-decoration: none;
}
header .header .header-end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
header .header .header-end a {
  color: #fff;
  text-decoration: none;
}

main {
  padding-top: 150px;
}

.draw-section .draw-div {
  width: 55%;
  height: auto;
  color: #000;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  list-style: none;
}
.draw-section .draw-div .draw-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
  position: relative;
}
.draw-section .draw-div .draw-image .box0 {
  position: absolute;
}
.draw-section .draw-div .draw-image .box1 {
  position: absolute;
}
.draw-section .draw-div .draw-image .box2 {
  position: absolute;
}
.draw-section .draw-div .draw-image .box3 {
  position: absolute;
}
.draw-section .draw-div .draw-image .box1 {
  width: 80px;
  height: 80px;
  background-color: #11A77D;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -120px;
  top: 30px;
  left: 10px;
}
.draw-section .draw-div .draw-image .box1 div {
  transform: rotate(-45deg);
}
.draw-section .draw-div .draw-image .box2 {
  width: 80px;
  height: 80px;
  background-color: #0878A0;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -120px;
  top: 110px;
  left: -65px;
}
.draw-section .draw-div .draw-image .box2 div {
  transform: rotate(-45deg);
}
.draw-section .draw-div .draw-image .box3 {
  width: 80px;
  height: 80px;
  background-color: #F31303;
  border-radius: 10px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  margin-left: -120px;
  top: 190px;
  left: 10px;
}
.draw-section .draw-div .draw-image .box3 div {
  transform: rotate(-45deg);
}
.draw-section .draw-div .draw-image img {
  width: 280px;
  height: 280px;
  border-radius: 20px;
}
.draw-section .draw-div .draw-image .draw-back {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  transform: rotate(45deg);
  left: -5px;
  box-shadow: 0 0 5px #000;
  z-index: 2;
}
.draw-section .draw-div .draw-txts h2 {
  position: relative;
}
.draw-section .draw-div .draw-txts h2::after {
  content: "*";
  color: #F31303;
  font-size: 24px;
  top: 8px;
  right: 100px;
  position: absolute;
}
.draw-section .draw-div .draw-txts h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  border-radius: 1px;
  height: 3px;
  background-color: #11A77D;
}
.draw-section .draw-div .draw-txts p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.draw-section .draw-div .draw-txts button {
  background-color: #F31303;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}
.draw-section .draw-div .draw-txts h2::after {
  right: 80px;
}

.do-section {
  padding-top: 150px;
  padding-bottom: 100px;
}
.do-section .do-div {
  width: 80%;
  height: auto;
  color: #000;
  margin: auto;
}
.do-section .do-div h2 {
  position: relative;
}
.do-section .do-div h2::after {
  content: "*";
  color: #F31303;
  font-size: 24px;
  top: 8px;
  right: 100px;
  position: absolute;
}
.do-section .do-div h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  border-radius: 1px;
  height: 3px;
  background-color: #11A77D;
}
.do-section .do-div h2 {
  width: 250px;
  margin-left: 10px;
}

.do-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 20px;
  width: 80%;
  margin: auto;
}
.do-cards div {
  margin-top: 30px;
  text-align: center;
}
.do-cards .do-card-green {
  background-color: #11A77D;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  height: 260px;
}
.do-cards .do-card-green i {
  font-size: 45px;
}
.do-cards .do-card-red {
  background-color: #F31303;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  height: 260px;
}
.do-cards .do-card-red i {
  font-size: 45px;
}

.skills-section::after {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0.3;
  background-color: #11A77D;
  width: 100%;
  height: 100%;
}

.skills-section {
  width: 100%;
  height: auto;
  color: #fff;
  margin: auto;
  background-color: #11A77D;
  background-image: url(../images/code-back.jpg);
  position: relative;
}
.skills-section .skills-div {
  padding: 50px;
  position: relative;
  flex-direction: column;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 60px;
  list-style: none;
}
.skills-section .skills-div .skills-head {
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0;
  list-style: none;
}
.skills-section .skills-div .skills-head h2 {
  position: relative;
}
.skills-section .skills-div .skills-head h2::after {
  content: "*";
  color: #F31303;
  font-size: 24px;
  top: 8px;
  right: 100px;
  position: absolute;
}
.skills-section .skills-div .skills-head h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  border-radius: 1px;
  height: 3px;
  background-color: #11A77D;
}
.skills-section .skills-div .skills-head h2::before {
  background-color: #fff;
}
.skills-section .skills-div .skills-head h2::after {
  color: #fff;
  right: -20px;
}
.skills-section .skills-div .skills-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.skills-section .skills-div .skills-body .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  flex-direction: column;
}
.skills-section .skills-div .skills-body .circle p {
  font-size: 21px;
}
.skills-section .skills-div .skills-body .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
  font-size: 18px;
}
.skills-section .skills-div .skills-body .deg-75, .skills-section .skills-div .skills-body .deg-50 {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-left: none;
  border-top: none;
}
.skills-section .skills-div .skills-body .deg-50 {
  border-bottom: none;
}

.end-txt {
  padding-top: 50px;
  width: 80%;
  height: 100px;
  color: #fff;
  margin: auto;
  background-color: #fff;
}
.end-txt h2 {
  position: relative;
}
.end-txt h2::after {
  content: "*";
  color: #F31303;
  font-size: 24px;
  top: 8px;
  right: 100px;
  position: absolute;
}
.end-txt h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  border-radius: 1px;
  height: 3px;
  background-color: #11A77D;
}
.end-txt h2::after {
  color: #F31303;
}
.end-txt h2 {
  width: 260px;
  color: #000;
}

.end-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}/*# sourceMappingURL=style.css.map */